<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<meta  charset="utf-8" />
<title>Investir</title>
</head>

<body>
       <section>
       <fieldset>
        <legend>Nossos planos</legend>
        <section class="planoAnual">
        		                 
                   <article >
                   			<h3>Plano Anual</h3> 
                       		<h2> R$:180 Reais/Ano</h2>
                            <div class="plano1"><a href="#">Assinar</a></div>
                 	</article>    
       </section>
       
       <section class="planoMensal"> 
                     <article>
                   			<h3>Plano Mensal</h3> 
                       		<h2> R$:15,90 Reais/M&ecirc;s</h2>
                           <div class="plano2"><a href="#">Assinar</a></div>
                 	</article>    
                                      
                                    	
        </section>
        </fieldset>
      </section>  
</body>
</html>
