<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<title>Entra no painel de controle</title>
</head>

<body>
<section>
	<header class="logomarca">
		
	<figure>
      <img src="imagens/logomarcamin.png" width="280" height="40" />
             
              
    </figure>
    </header>
<form method="post" action="?pg=logado">
 usuario<input type="text" name="login" />
 senha<input type="password" name="senha" />
 <input type="submit" name="entrar" value="entrar" />
 
 esqueceu a senha?<a href="#">sim</a>
 </form>
 </section>
</body>
</html>
